.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.option-box {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 400px;
  text-align: center;
}

.Result {
  margin: 20px 0;
}
option {
  padding: 10px 10px;
}

select:focus {
  outline: none;
}
.inactive {
  display: none;
}
.active {
  display: inline;
}
.dropdown {
  width: 400px;
  position: relative;
  display: inline-block;
  border: lightgrey 1px solid;
  border-radius: 2px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
}
.fas {
  border-left: rgb(192, 191, 191) 1px solid;
  font-weight: 900;
  float: right;
  width: 25px;
  padding-top: 10px;
  text-align: center;
  vertical-align: top;
}
.fas:hover {
  cursor: pointer;
}
.list-group {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.option-collection {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 0;
}
.input-block {
  display: inline-block;
  flex: 1;
  min-width: 100px;
}
.input-box {
  border: none;
  width: 100%;
  box-shadow: none;
}
.input-box:focus {
  box-shadow: none;
}
.selected-options {
  float: left;
  text-align: center;
  padding: 4px;
}
.selected-option {
  display: inline-block;
  background: lightgrey;
  margin: 4px 2px 2px 4px;
  padding: 0 0 0 3px;
  border-radius: 10%;
}
.option-text {
  display: inline-block;
  padding: 0 5px;
}
.delete {
  float: right;
  padding: none;
}
.delete-button {
  padding: 0;
  border: none;
  color: white;
  background: darkgrey;
  padding: 0 4px;
  border-radius: 0 10% 10% 0;
  transition: 1s;
}
.delete-button:hover {
  background: black;
}
select:focus {
  outline: none;
  box-shadow: none !important;
}
.invisible {
  display: inline-block;
  flex: 1;
  min-width: 100px;
  visibility: hidden;
}
.radio-select {
  margin-top: 100px;
}
.radio-option {
  display: inline-block;
  margin: 10px;
}
